body {
    font-family: Arial, sans-serif;
    background-color: #bdb1b1;
    padding: 20px;
  }
  
  .quiz-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #af4ca0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }

  
p{
    font-weight: bold;
}